# Виртуальное окружение
venv/

# Кэш и скомпилированные файлы Python
__pycache__/
*.py[cod]

# Файл базы данных SQLite
db.sqlite3

# Файлы конфигурации редакторов и IDE
.vscode/

# Системные файлы
.DS_Store
Thumbs.db

# Файл с данными суперпользователя (для работы с прототипом)
superuser.txt